<!DOCTYPE html>
<html land="en">
<head>
  <meta charset="utf-8">
    <link href="base.css" rel="stylesheet" type="text/css">
    <link href="reg.scss" rel = "stylesheet" type = "text/css">
</head>

<body>
  <div class="joinUs-content">

      <h2>Login</h2> 

      <div class = "sign-up">
        <%= form_tag '/login' do %>
        <div class="field" >

          Email:<br> <%= text_field_tag :email %>
          </br>
          Password: <br> <%= password_field_tag :password %>
          </br>
          <%= submit_tag "Submit" %>
        
        </div>

        <% end %>
      </div>
  </div>
</body>

