<script type='text/javascript'>
$(function() {
Dashing.gridsterLayout('[{"col":1,"row":2,"size_x":2,"size_y":1},{"col":1,"row":1,"size_x":1,"size_y":1}]')
});
</script>
<% content_for :title do %>
  My super sweet dashboard
<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Hello" data-text="Calendar is coming." data-moreinfo="Protip: You can drag the widgets around!"></div>
    </li>
        
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>





  </ul>
  <center><div style="font-size: 12px">Try this: curl -X PUT 'http://<%= request.host %>:<%= request.port %>/dashing/widgets/welcome' -d "widget[text]=Dashing is awesome"</div></center>
</div>


